<h1>Weather Today</h1>

<p>Search for Weather by Zipcode</p>

<form class="searchform">
  <input type="text" class="zipsearch" placeholder="Search by Zipcode">
  <input type="submit" value="SUBMIT">
</form>

<div id="results_container"></div>
