// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 25px;
}

.results {

  height: 60vh;
  width: 500px;
  margin: 0 auto;
  border: black 1px solid;
}

img {
  margin-left: 230px;
}
form {
  height: 10vh;
  width: 250px;
  margin: 0 auto;
}

.save {
  position: relative;
  margin-left: 200px;
}
