<h1>WeatherDuino</h1>

<p>Search for Weather by Zipcode</p>

<form>
  <input type="text" name="zipsearch" placeholder="Search by Zipcode">
  <input type="submit" value="SUBMIT">
</form>

<div class="results"></div>
